*{
	margin: 0;
	padding: 0;	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	list-style: none;
}
a{
	color: #666;	
}
body{
	background: #e6e6e6;	
	margin: 0; 
	padding: 0;

	font-family: Arial, Helvetica, sans-serif;
}
.clear{
	clear: both;	
}
#container{
	position:fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 9999;
	background: #e6e6e6;
}
#header{
	
	position: absolute;
	top: 0;
	height: 50px;	
	
	background: #3a536c;
	z-index: 999;
	width: 100%;
}

#header #logo{
	position: absolute;	
	padding: 10px 0 0 0;
	width: 100%;
	font-size: 24px;
	color: #fff;
	font-weight: bold;
	text-align: center;
}

#header .btnBack{
	position: absolute;	
	z-index: 999;
}
#header .btnBack a{
	
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	margin: 8px 0 0 10px;
	padding: 2px;
	color: #fff;

	font-size: 36px;
	text-align: center;
	text-decoration: none;
	line-height: 22px;
	text-decoration: none;
	color: #fff;

	background: #fff;
	color: #3a536c;	
}



#status{
	position: absolute;
	z-index: 9999;
	width: 320px;
	height: 460px;
	overflow: hidden;
	background: rgba(0,0,0,0.7);
	display: none;
	opacity: 0;
}
#status #loading{
	position: absolute;
	
	top: 150px;
	left: 60px;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #999), color-stop(0.02, #666), color-stop(1, #222));
	background-image:-moz-linear-gradient(top, #999, #666 2%, #222);
	background-image:-o-linear-gradient(top, #999, #666 2%, #222);
	padding-top: 10px;
	width: 200px;
	height: 65px;
	font-size: 18px;
	color: #fff;
	text-align: center;
	border-radius: 10px;
	font-size: 14px;
	
	
}

#content{
	
	position:fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	
}
.panel{
	position:fixed;
	width: 100%;
	height: 100%;
	background: #e6e6e6;
	overflow: hidden;
	z-index: 998;

}

.wrapper {
	position:absolute;
	z-index:1;
	top:50px; 
	bottom:60px; 
	left:0;
	width:100%;
	overflow:auto;
}

.scroller {
	position:absolute; 
	z-index:1;
	width:100%;
	padding:0;
}

.data{
	font-size: 14px;
	line-height: 1.2em;
	color: #333;
}

.data p{
	margin: 0 0 1em 0;
	padding: 0;	
}

#footer{
	position: fixed;
	overflow: hidden;
	bottom: 0px;
	height: 60px;	
	z-index: 999;
	width: 100%;
	background: #3a536c;	
}




#footer ul{
	width: 100%;
	
}

#footer li{
	margin: 0;
	padding: 0;
	list-style:none	;
	float: left;
	width: 22%;
	margin-left: 3%;
}
#footer li:first-child{
	margin-left: 1%;
}
#footer li a{
	display: block;
	width: 100%;
	height: 46px;
	border-radius: 5px;
	margin: 5px 1px 0 5px;
	padding: 2px;
	color: #fff;
	background: rgba(255,255,255, 0.1);
	font-size: 10px;
	text-align: center;
	text-decoration: none;
}
 #footer li a{
	margin-left: 0;
}
#footer li a.btn.active{
	background: rgba(255,255,255, 0.5);	
}

#footer li a img{
	width: 30px;
	height: 30px;	
}

/*
	
	CONTENT

*/

#news .item{
	display: block;
	border-bottom: 1px solid #eee;
	cursor: pointer;
}

#news .item img{
	text-align: left;	
	margin-right: 10px;
}
#news .item .text{
	padding: 7px 0 0 0;	
}

#news h1{
	font-size: 14px;
}
#news .text{
	font-size: 14px;
	line-height: 18px;
}


#news-detail .text{
	padding: 10px;
	margin-bottom: 10px;
}

#news-detail h1{
	font-size: 14px;	
	line-height: 120%;
	margin-bottom: 10px;
}


#agenda .item{
	display: block;
	border-bottom: 1px solid #eee;
	cursor: pointer;
}

#agenda .item img{
	text-align: left;	
	margin-right: 10px;
}
#agenda .item .text{
	padding: 7px 0 0 0;	
}

#agenda h1{
	font-size: 14px;
}
#agenda .text{
	font-size: 14px;
	line-height: 18px;
}


#agenda-detail .text{
	padding: 10px;
	margin-bottom: 10px;
}

#agenda-detail h1{
	font-size: 14px;	
	line-height: 120%;
	margin-bottom: 10px;
}




#project .item{
	display: block;
	border-bottom: 1px solid #eee;
	padding: 10px;	
}
#project .item img{
	text-align: left;	
	margin-right: 10px;
}
#project h1{
	font-size: 14px;
}

#project h2{
	font-size: 14px;	
	line-height: 120%;
	margin-bottom: 10px;
	background: #999;
	color: #fff;
	padding: 10px;
	margin: 0;
}

#project-detail .text{
	padding: 10px;
	margin-bottom: 10px;
}
#project-detail h1{
	font-size: 14px;	
	line-height: 120%;
	margin-bottom: 10px;
}




#contact .text{
	padding: 10px;
	margin-bottom: 10px;
}
#contact .text a{
	color: #666;
}



/* MEDIA SLIDER */

.slider{
	width:100%;
	height:200px;
	float:left;
	position:relative;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
	overflow:hidden;
	margin-bottom: 5px;
	background:#e3e3e3;
	border-bottom: 1px solid #eee;
	
}
.mwrapper{
	position:relative;
	width:1280px;  
	height:200px;
	float:left;
	padding:0;

}

.slider ul {
	list-style:none;
	display:block;
	float:left;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	text-align:left;
}

.slider li {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	display:block; 
	float:left;
	width:320px; 
	height:200px;

}

.nav {
	width:300px;
	float:left;
	text-align: center;
	margin: 0 0 10px 10px;
}

.indicator, .indicator > span {
	display:block;

	list-style:none;
	padding:0; 
	margin:0;
}

.indicator span {
	display: inline-block;
	text-indent:-9999em;
	width:8px; 
	height:8px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	background:#ddd;
	overflow:hidden;
	margin-right:4px;

}

.indicator  span.active {
	background:#888;
}

.indicator  span:last-child {
	margin:0;
}

/*
	MAPS
*/
.infoBox{
	background-image: url(images/arrow.png);
	margin: 0px 0px 5px 5px;
}
.infoBox h1{
	font-size: 14px;
	padding: 5px 0px 0px 5px; 
	margin: 0;	
}
.infoBox p{
	font-size: 11px;
	padding: 0px;
	margin: 0px 0px 6px 5px;
		
}


/*  
	Text-panel 
*/
.text-panel{
	padding: 10px;	
}
.text-panel h1{
	color: #3a536c;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 10px;
}
.text-panel h2{
	color: #3a536c;
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 10px;
}
.text-panel .tekst{
	font-size:  14px;
	line-height: 21px;
	margin-bottom: 15px;
}
.text-panel ul.sub, .text-panel ul.sub li{
	margin: 0;
	padding: 0;
	list-style: none;
}
.text-panel ul.sub li a{
	display: block;

	margin-bottom: 5px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	
	background: #6ebb1f;

	padding: 10px;

	color: #fff;
	text-decoration: none;
}


#content .tekst ul, #content .tekst li{
	margin-left: 10px;
	list-style: disc;	
}
/* 

	BTN 

*/


a.btn-back{
	background: #999;
	text-decoration: none;
	color: #fff;
	margin-top: 10px;
	padding: 5px 10px 8px 5px;
	width: 60px;
	text-align: center;
	display: block;
	background: #6ebb1f;
	border-radius: 5px;
	margin-top: 10px;
}

#go {
	position: relative;
	width: 100%;
	height: 50px;
	font-size: 150%;
	background-color: #6ebb1f;
	color: white;
	border: none;
	text-transform:uppercase;
}

.sessioninput {
	position: relative;
	padding: 5px 2%;
	width: 96%;
	border: none;
    margin: 0 0 10px 0;
	font-size: 150%;
	 -webkit-appearance: none;
    border-radius: 0;
	overflow: visible;
	background: white;
}
.sessioninput#dropdown {
	width: 100%;
}
